@import url("https://fonts.googleapis.com/css?family=Be+Vietnam|Lato|Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-family: "Lato", sans-serif;
  font-family: "Be Vietnam", sans-serif;
}
h2 {
  font-family: "Roboto", sans-serif;
  font-family: "Lato", sans-serif;
  font-family: "Be Vietnam", sans-serif;
}

.page-bg {
  background: url(../images/background.jpg);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

#columnBgP .game:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  box-shadow: 20px 20px 2px rgba(0, 0, 0, 0.5);
  position: relative;
  top: -0.4em;
  z-index: 2;
  transition: 0.3s ease 0.3s;
}

#columnBgP {
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
  padding: 30px 30px;
  border-radius: 6px;
}

#columnBg {
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
  padding: 30px 0px;
  border-radius: 6px;
}

#columnBg:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  box-shadow: 20px 20px 2px rgba(0, 0, 0, 0.5);
  position: relative;
  top: -0.4em;
  transition: 0.3s ease 0.3s;
}

.contact-form {
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
  padding: 80px 0px;
  margin: 5% 10%;
  border-radius: 6px;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.clearFloat {
  clear: both;
}

.card-text {
  float: right;
  margin: 40px;
}

li {
  color: white;
}

#me {
  float: left;
  padding-right: 40px;
  border-radius: 100px;
}

.right-card {
  float: right;
}

.row {
  margin-top: 20px;
}

.card-body {
  margin: 0;
}

.card-title {
  text-align: center;
  color: white;
  font-family: "Roboto", sans-serif;
  font-family: "Lato", sans-serif;
  font-family: "Be Vietnam", sans-serif;
}

.footer-copyright {
  color: white;
  mix-blend-mode: difference;
}

p {
  color: white;
  text-align: center;
}

.technicalSkillsCont {
  padding-top: 40px;
  text-align: center;
}

ul {
  list-style-type: none;
  width: 70%;
  margin: auto;
}

li {
  text-align: center;
}

.mygames {
  display: flex;
  flex-flow: row wrap;
}

.game {
  box-sizing: border-box;
  flex: 0 1 33.333%;
  position: relative;
  min-height: 30vh;
}
.game .image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}
.game .text {
  font-size: 16px;
  position: relative;
  text-align: center;
}
.game span {
  border-radius: 5px;
  background-color: #1955c0;
  color: white;
  mix-blend-mode: hard-light;
}

.cust-grid {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.cust-grid-col {
  float: none;
}

#contacttext {
  color: white;
}

#submitButton {
  background-color: inherit;
  position: relative;
  left: 200px;
}

.buttonDiv {
  max-width: 500px;
}

@media only screen and (max-width: 576px) {
  .technicalSkillsCont {
    text-align: center;
  }
  ul {
    list-style-type: none;
  }
}

@media only screen and (max-width: 922px) {
  #me {
    float: none;
    display: block;
  }

  .card-left p {
    float: none;
    display: block;
  }
}

@media only screen and (max-width: 860px) {
  footer {
    position: relative;
  }
}

@media only screen and (max-width: 1220px) {
  footer {
    position: relative;
  }
}
